<div class="flex flex-col items-center">
    <h1 class="text-5xl font-bold m-0 mt-16">Results</h1>

    <table class="mt-8 border-2 border-black">
        <tr class="text-center border-2 border-black">
            <th class="p-2 border-2 border-black text-center">Participant</th>
            <th class="p-2 border-2 border-black text-center">Prompt</th>
            <th class="p-2 border-2 border-black text-center">Font Size</th>
            <th class="p-2 border-2 border-black text-center">Space Between Menus</th>
            <th class="p-2 border-2 border-black text-center">Number of Subsections per Hierarchy</th>
            <th class="p-2 border-2 border-black text-center">No. of Paths</th>
            <th class="p-2 border-2 border-black text-center">Ave. Time Spent Per Page (ms)</th>
        </tr>
        {{#each data}}
        {{> datarow this}}
        {{/each}}  
    </table>
    <a href="/" class="underline text-blue-500 mt-8">
        Restart the test? <br> <br>
    </a>
</div>