<div class="flex flex-col items-center">
    <h1 class="text-5xl font-bold m-0 mt-16">Results</h1>

    <p class="mt-8 text-center">

        Number of Paths Made: {{paths}} <br>
        <!-- Afterward, you will be provided the number of paths you took and average time spent per page before you <br>
                reached the target. -->
        Average Time Spent Per Page: {{avgTime}}ms <br> <br> <br>
    </p>
    <a href="/" class="underline text-blue-500">
        Restart the test? <br> <br>
    </a>
</div>