<div class="bg-[#858585] h-14 sticky top-0"></div>
<div class="flex">
    <div class="text-[{{ fontSize }}px] p-4 border-box overflow-y-auto bg-[#D9D9D9] h-lvh w-[360px] flex flex-col font-['Segoe UI Historic'] font-bold">
        {{#each menus}}
        {{> menu this}}
        {{/each}}
    </div>
    <div id="targetPage" class="mt-10 ml-10 hidden">
        Change name
        <button id="doneBtn" class="border rounded-lg p-5 bg-green-500">Done</button>
    </div>
</div>
