<div class="bg-[#858585] h-14 sticky top-0"></div>
<div class="flex">
    <div class="p-4 border-box overflow-y-auto bg-[#D9D9D9] w-[360px]">
        <div class="text-[{{ fontSize }}] flex flex-col font-['Segoe UI Historic'] font-bold">
            <div id="usingFacebook" class="cursor-pointer">
                Using Facebook <i class="fa-solid fa-chevron-up"></i>

                <div id="yourProfile" class="cursor-pointer hidden ml-8 mt-2">
                    Your Profile
                    <div id="addAndEdit" class="cursor-pointer hidden text-wrap mt-2 ml-8">
                        Add and Edit Your Profile Info
                    </div>
                </div>
            </div>
            <div class="cursor-pointer">
                Managing Your Account
            </div>
            <div class="cursor-pointer">
                Privacy, Safety, and Security
            </div>
            <div class="cursor-pointer">
                Policies and Reporting
            </div>
        </div>
    </div>
    <div id="targetPage" class="mt-10 ml-10 hidden">
        Change name
        <button id="doneBtn" class="border rounded-lg p-5 bg-green-500">Done</button>
    </div>
</div>
