<div class="flex flex-col items-center">
    <h1 class="text-5xl font-bold m-0 mt-16">Welcome to the Navigation Task</h1>
    <p class="mt-8">
        Navigate through the jump/switch hierarchy pattern of a sample Help Center to find the prompt below. <br>
        <!-- Afterward, you will be provided the number of paths you took and average time spent per page before you <br>
        reached the target. -->
    </p>
    <div class="mt-5 ">
        <div class="text-center font-bold">Prompt:</div>
        Find "<span id="prompt" class="font-bold">{{ prompt.name }}</span>"
    </div>

    <div class="mt-5 text-center"> 
        Enter your name: <br>
        <input id="participantName" name="participantName" type="text" class="mt-2 border-2 rounded border-black">
    </div>

    <div class="mt-8">
        <button id="startButton" class="border rounded-lg py-4 px-8 bg-green-500" >Start</button>
    </div>
</div>
<div class="hidden" id="random-prompt-id">{{ prompt._id }}</div>