<div class="flex flex-col items-center">
    <div class="flex flex-col">
        <h1 class="text-5xl font-bold m-0 mt-16">Welcome to the Navigation Task</h1>
        <p class="mt-8">
            Navigate through the jump/switch hierarchy pattern of a sample <span class="font-bold">Facebook Help Center</span> to find a <br>specified prompt. <br><br>
            For example, if your prompt is "Change profile picture," you have to navigate through the side <br> navigation bar by
            expanding or compressing menus to find the prompt. <br> <br>
            Once you find and click on the correct menu, a <span class="font-bold">Done</span> button will appear. There will be a total of <br><span class="font-bold text-red-600"> 7 prompts </span>for
            this task. Good luck!
            <!-- Afterward, you will be provided the number of paths you took and average time spent per page before you <br>
            reached the target. -->
        </p>
        <div class="mt-5"> 
            Enter your name: <br>
            <input id="participantName" name="participantName" type="text" class="mt-2 border-2 rounded border-black">
        </div>

        <div class="mt-4">
            <button id="nextButton" class="border rounded-lg py-4 px-8 bg-green-500" >Get Prompt</button>
        </div>
    </div>
</div>