<div id="{{ divId }}" class="cursor-pointer box-sizing pl-[{{ leftPadding }}px] mb-[{{ bottomMargin }}px]">
    {{ name }}
</div>


    {{!-- <div id="yourProfile" class="cursor-pointer hidden ml-8 mt-2">
        Your Profile
        <div id="addAndEdit" class="cursor-pointer hidden text-wrap mt-2 ml-8">
            Add and Edit Your Profile Info
        </div>
    </div>
</div>
<div class="cursor-pointer">
    Managing Your Account
</div>
<div class="cursor-pointer">
    Privacy, Safety, and Security
</div>
<div class="cursor-pointer">
    Policies and Reporting
</div> --}}